@import "../../../utils/mixins";
@import "../../../utils/color";

.conv-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  .conv-container {
    @include auto-scroll-bar;
    flex: 1;

    .msg-items {
      padding: 4px 16px 16px 16px;
    }
  }
}
