.conv-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
  .conv-container {
    overflow-x: hidden;
    overflow-y: hidden;
    flex: 1;

    &:hover {
      overflow-y: overlay;
    }

    .msg-items {
      padding: 4px 16px 16px 16px;
    }
  }

  .send-msg-box {
    height: 106px;
    background-color: #fffbf8;
    border-top: 1px solid #dddcdd;
    display: flex;

    .input-area {
      display: flex;
      flex: 1;
      flex-direction: column;
      .tool-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 34px;
        padding: 0 10px;
        user-select: none;

        .tool-item {
          margin-right: 8px;
          width: 18px;
          height: 18px;
          cursor: pointer;

          &:hover, &.active {
            .iconfont {
              color: #7e3f12;
            }
          }

          .iconfont {
            color: #9ea1a2;
            line-height: 18px;
            height: 18px;
            font-size: 18px;
          }
        }
      }

      .input-msg {
        background-color: transparent;
        resize: none;
        border: 0;
        padding: 6px;
        line-height: 1.2em;
        flex: 1;
        color: #222;
        font-size: 14px;
        outline: 0;
      }
    }

    .action-area {
      width: 78px;
      border-left: 1px solid #dddcdd;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 0;
        outline: 0;
        cursor: pointer;

        &:disabled {
          cursor: default;
        }
      }
    }
  }
}
