* {
  box-sizing: border-box;
  font-family: PingFang SC, "Microsoft YaHei", arial, serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url('/src/assets/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  &,&:link,&:visited,&:hover,&:active {
    text-decoration: none;
    color: #2596e5;
    font-size: 14px;
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

#app {
  .app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(255,255,255,0.2);
    .version {
      position: absolute;
      left: 15px;
      bottom: 10px;
      color: rgba(white, .6);
      font-size: 12px;
    }
  }
}
