@import "../utils/color";

.register-screen {
  width: 372px;
  background-color: rgba(230, 242, 248, 0.5);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 8px;
  padding: 25px 30px 50px;

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #333333;
  }

  input {
    color: #222;
    font-size: 14px;
    width: 312px;
    height: 40px;
    border: 1px solid $color-jungle-mist;
    border-radius: 3px;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 0;
    padding: 10px;
    outline: 0;
    margin: 0 0 5px;
  }

  p {
    margin: 0;
    color: $color-alizarin-crimson;
  }

  button {
    width: 312px;
    height: 40px;
    margin: 0;
    padding: 10px;
    outline: 0;
    margin: 0 0 5px;
    color: white;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
    background-color: #4c98cc;
    margin-top: 8px;
    cursor: pointer;

    &:disabled {
      cursor: default !important;
      background-color: #c7c7cc;
    }
  }

  a {
    float: right;
  }
}
