@import "../../../utils/color";
@import "../../../utils/mixins";

.group-actor {
  display: flex;
  flex-direction: column;
  flex: 1;
  button {
    @include block-btn;
  }

  .group-actor-items {
    flex: 1;
    padding: 0 10px;
    @include auto-scroll-bar;
    .group-actor-item {
      height: 120px;
      display: flex;
      margin: 6px 0;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.15) 0 0 6px;
      border: 1px solid $color-bon-jour;
      height: 120px;
      padding: 10px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px;
      }

      .avatar {
        width: 80px;
        height: 100px;
        margin-right: 8px;
        background-size: cover;
        background-position: center;
      }

      .info {
        flex: 1;
        overflow: hidden;

        .title {
          color: $color-cod-gray;
        }

        .desc {
          color: $color-dusty-gray;
        }
      }
    }
  }

  .group-actor-info {
    p {
      margin: 6px 0;
    }
  }
}
