@import "../../../utils/color";
@import "../../../utils/mixins";

.group-invite {
  padding: 20px;
  text-align: center;

  .friend-list, .invite-list {
    border: 1px solid $color-bon-jour;
    border-radius: 3px;
    width: 100%;
    height: 180px;
    margin: 10px 0;
    @include auto-scroll-bar;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .item {
      position: relative;
      width: 44px;
      height: 44px;
      overflow: hidden;
      border-radius: 50%;
      cursor: pointer;
      border: 3px solid transparent;
      margin: 4px;
      user-select: none;

      .avatar {
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .mask {
        opacity: 0;
        background-color: rgba(black, 0.4);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: "添加";
          color: white;
          font-size: 12px;
        }
      }

      &:not(.active):hover .mask{
        opacity: 1;
      }

      &.active {
        border-color: $color-spicy-mix;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: '\e620';
          font-family: 'iconfont';
          position: absolute;
          z-index: 2;
          color: $color-spicy-mix;
          font-size: 26px;
          -webkit-text-stroke: 1px #1b1b1b;
        }
      }
    }
  }

  .iconfont {
    color: $color-dove-gray;
  }

  button {
    @include block-btn;
  }
}
