@import "../../../utils/color";
@import "../../../utils/mixins";

.group-info {
  padding: 20px;
  display: flex;
  flex-direction: column;

  > div {
    margin-bottom: 4px;
    display: flex;

    span{
      &:nth-child(1) {
        flex: 1;
      }
      &:nth-child(2) {
        flex: 2;
        flex-wrap: wrap;
        overflow: hidden;
        word-wrap: break-word;
        max-height: 200px;
        @include auto-scroll-bar;
      }

      &.uuid {
        font-size: 12px;
        color: $color-dusty-gray;
      }

      &.desc {

      }
    }
  }


}
