@import "../../../utils/mixins";
@import "../../../utils/color";

.group-map {
  .map {
    text-align: center;
    padding: 10px;
    max-width: 100%;
    max-height: 300px;
    @include auto-scroll-bar;
    &:hover {
      overflow-x: overlay;
    }
  }
}
