registry=https://registry.npm.taobao.org
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver/
selenium_cdnurl=http://npm.taobao.org/mirrorss/selenium/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
disturl=http://npm.taobao.org/mirrors/node
sass_binary_site=https://cdn.npm.taobao.org/dist/node-sass/
operadriver_cdnurl=https://cdn.npm.taobao.org/dist/operadriver/
