# https://npmmirror.com/mirrors/
registry = https://registry.npmmirror.com

chromedriver_cdnurl = https://npmmirror.com/mirrors/chromedriver
# selenium_cdnurl = http://npmmirror.com/mirrorss/selenium/
phantomjs_cdnurl = https://npmmirror.com/mirrors/phantomjs/
ELECTRON_MIRROR = https://npmmirror.com/mirrors/electron/
disturl = https://npmmirror.com/mirrors/node
# SASS_BINARY_SITE = http://npmmirror.com/mirrors/node-sass
# operadriver_cdnurl = https://cdn.npmmirror.com/dist/operadriver/
PUPPETEER_DOWNLOAD_HOST = https://npmmirror.com/mirrors
sass_binary_site = https://npmmirror.com/mirrors/node-sass

# https://github.com/mapbox/node-pre-gyp#download-binary-files-from-a-mirror
# npm_config_canvas_binary_host_mirror = https://npmmirror.com/mirrors/node-canvas-prebuilt/
NODE_OPTIONS = '--max_old_space_size=2048'
