# https://npmmirror.com/mirrors/
registry = https://registry.npmmirror.com

chromedriver_cdnurl = http://npm.taobao.org/mirrors/chromedriver/
selenium_cdnurl = http://npm.taobao.org/mirrorss/selenium/
phantomjs_cdnurl = http://npm.taobao.org/mirrors/phantomjs/
ELECTRON_MIRROR = http://npm.taobao.org/mirrors/electron/
disturl = http://npm.taobao.org/mirrors/node
SASS_BINARY_SITE = http://npm.taobao.org/mirrors/node-sass
operadriver_cdnurl = https://cdn.npm.taobao.org/dist/operadriver/
PUPPETEER_DOWNLOAD_HOST = https://npmmirror.com/mirrors

# https://github.com/mapbox/node-pre-gyp#download-binary-files-from-a-mirror
npm_config_canvas_binary_host_mirror = https://npmmirror.com/mirrors/node-canvas-prebuilt/
NODE_OPTIONS = '--max_old_space_size=2048'
