@import "../../../../shared/utils/mixins";
@import "../../../../shared/utils/color";

.actor {
  display: flex;

  .actor-list {
    @include auto-scroll-bar;
    flex: 1;

    .actor-list-collection {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-content: flex-start;
      padding: 24px 18px;

      .actor-card-new {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $color-dusty-gray;
        transition: all 0.1s ease-in-out;
        user-select: none;

        &:hover {
          color: $color-cod-gray;
        }
      }
    }
  }

  .actor-info {
    width: 300px;
    background-color: $color-soapstone;
    border-left: 1px solid $color-bon-jour;
    padding: 10px;
    @include auto-scroll-bar;

    p {
      margin: 0;
      display: flex;
      height: auto;

      &:nth-child(2) {
        flex: 1;
      }

      span:nth-child(1) {
        color: $color-dove-gray;
        word-break: keep-all;
        margin-right: 2px;
      }
      span:nth-child(2) {
        float: left;
        flex: 1;
        word-break: break-all;
        text-align: left;
        color: $color-cod-gray;
      }
    }

    .no-content {
      text-align: center;
      margin-top: 120px;
      color: $color-dove-gray;
      user-select: none;
    }
  }
}
