@import "../../../../shared/utils/mixins";
@import "../../../../shared/utils/color";

.template-select {
  height: 520px;
  width: 760px;
  display: flex;
  flex: 1;
  flex-direction: column;

  > .header {
    padding: 20px 26px;
    display: flex;

    input {
      @include bottom-line-input;
      flex: 1;
      margin: 0 5px;
      padding: 12px 16px;
    }

    button {
      @include block-btn;
      margin: 0 5px;
      height: 40px;
      margin-top: 2px;

      .iconfont {
        margin-right: 4px;
      }

    }
  }
  > .body {
    flex: 1;
    display: flex;
    padding-bottom: 20px;

    .search-result {
      @include auto-scroll-bar;
      flex: 1;
      overflow: hidden;
      padding: 20px;
      padding-top: 0;

      &:hover {
        overflow-y: overlay;
      }

      .title {
        font-size: 14px;
        line-height: 20px;
        color: $color-silver;
        margin-bottom: 6px;
      }

      .no-result {
        color: #666;
        margin-top: 40px;
        user-select: none;
        cursor: default;
      }
    }

    .self-template {
      @include auto-scroll-bar;
      width: 340px;
      border-left: 1px solid #dddcdd;
      padding: 20px;
      overflow: hidden;
      padding-top: 0;

      &:hover {
        overflow-y: overlay;
      }

      .title {
        font-size: 14px;
        line-height: 20px;
        color: $color-silver;
        margin-bottom: 6px;
      }
    }
  }
}
