@import "../../../../shared/utils/mixins";
@import "../../../../shared/utils/color";

.template-edit {
  width:1000px;
  height: 600px;
  display: flex;

  .profile-panel {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      padding: 20px;
      display: flex;

      button {
        @include link-btn;
        margin: 0 5px;
        height: 40px;
        margin-top: 2px;
        padding: 6px 12px;
      }

      input {
        flex: 1;
        margin: 0 5px;
        height: 44px;
        font-size: 16px;
        padding: 12px 16px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid $color-bon-jour;
        background-color: transparent;

        &:focus {
          border-bottom-color: $color-tobacco-brown;
        }
      }
    }

    .desc {
      text-align: left;
      padding: 0 30px;

      textarea {
        resize: none;
        font-size: 16px;
        border: 1px solid $color-bon-jour;
        outline: 0;
        padding: 10px;

        &:focus {
          border-color: $color-tobacco-brown;
        }
      }
    }

    > .actions {
      display: flex;
      padding: 10px 30px;

      button {
        @include block-btn;
        margin: 0 5px;
        margin-top: 2px;

        > .iconfont {
          margin-right: 2px;
        }
      }
    }

    .property-list {
      @include auto-scroll-bar;
      padding: 20px 30px;
      flex: 1;

      table {
        width: 100%;

      }
    }
  }

  .inspect-panel {
    width: 320px;
    border-left: 1px solid $color-bon-jour;
    background-color: $color-soapstone;
    padding: 20px 10px;

    .data {
      display: flex;
      margin-bottom: 6px;

      > span {
        padding: 4px 6px;
        color: $color-dove-gray;
      }

      > input, > textarea {
        @include block-input;
      }

      .func-select {
        min-width: 180px;
      }
    }

    .actions {
      text-align: right;
      margin-top: 20px;

      button {
        @include block-btn;
        margin: 0 5px;
        margin-top: 2px;

        .iconfont {
          margin-right: 4px;
        }
      }
    }
  }
}
