@import "../../shared/utils/mixins";

.list-select {
  max-height: 360px;
  @include auto-scroll-bar;

  .list-select-cell {
    margin-bottom: 6px;
    padding: 6px 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    @include one-line;
    max-width: 375px - 12px * 2;

    &:hover {
      background-color: rgba(black, 0.2);
    }

    &.active {
      &:before {
        content: '\e620';
        font-family: iconfont;
        position: absolute;
        left: 2px;
      }
    }
  }
}
