.modal {
  .modal-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    z-index: 1200;

    .modal-card {
      border-radius: 3px;
      overflow: hidden;
      background-color: white;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.15) 1px 4px 12px;
      min-width: 375px;
      min-height: 375px;
      max-width: 100%;
      max-height: 100%;
      display: flex;
      position: relative;

      .modal-content {
        flex: 1;
      }

      .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 1;
        // height: 24px;
        // width: 24px;

        .iconfont {
          font-size: 21px;
          color: rgba(0,0,0,0.2);
          line-height: 1em;
          display: block;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: rgba(0,0,0,0.6);
          }
        }
      }
    }
  }
}
