@import "../../utils/mixins";
@import "../../utils/color";

.slide-panel {
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 360px;
  height: 100%;
  background-color: white;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column !important;

  &.hide {
    right: -380px;
  }

  .header {
    height: 50px;
    border-bottom: 1px solid $color-bon-jour;
    position: relative;
    line-height: 50px;

    .title {
      @include one-line;
      text-align: center;
    }

    .close {
      @include icon-btn;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;

      .iconfont {
        font-size: 24px;
        vertical-align: middle;
      }
    }
  }

  .content {
    flex: 1;
    @include auto-scroll-bar;
  }
}
