@import "../../shared/utils/color";

* {
  box-sizing: border-box;
  font-family: PingFang SC, "Microsoft YaHei", arial, serif;
  transition: opacity 0.1s ease-in-out;
}

.Select * {
  transition: initial;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.app {
  ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    &,&:link,&:visited,&:hover,&:active {
      text-decoration: none;
      color: #2596e5;
      font-size: 14px;
    }
  }

  pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: PingFang SC, "Microsoft YaHei", arial, serif;
  }

  img {
    user-select: none;
    pointer-events: none;
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #929292;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

#app {
  .app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.2);
    transition: initial;
    .version {
      position: absolute;
      left: 15px;
      bottom: 10px;
      color: rgba(white, .6);
      font-size: 12px;
    }

    .start-btn {
      @keyframes blink {
        0% {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }

      font-size: 24px;
      animation: blink 3s infinite ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-direction: column;

      .main {
        font-size: 28px;
        color: $color-jungle-mist;
      }

      .sub {
        font-size: 18px;
        color: $color-saltpan;
      }
    }
  }
}
