@import '../../shared/utils/mixins';

.error-boundary {
  background-color: #705949;
  padding: 50px;
  height: 360px;
  padding-top: 100px;

  h1, h2, p {
    color: white;
  }

  span {
    cursor: pointer;
    color: #3498db;
  }

  .showErrorReport {
    @include block-btn;
  }
}
