@import "../../../../shared/utils/mixins";
@import "../../../../shared/utils/color";

.note {
  .list {
    user-select: none;
    width: 240px;
    background-color: $color-soapstone;
    position: relative;

    .items {
      @include auto-scroll-bar;
      height: 100%;
    }

    .note-item {
      cursor: pointer;
      padding: 24px 12px;
      &:hover, &.active {
        background-color: $color-white-linen;
      }

      .note-title {
        font-size: 16px;
        font-weight: 400;
        color: $color-tundora;
        margin-bottom: 4px;
        max-height: 40px;
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;
        line-height: 20px;
        min-height: 20px;
        display: flex;
        justify-content: space-between;

        span {
          flex: 1;
          @include one-line;
        }
      }

      .note-update-time {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 8px;
        color: $color-gray;
      }

      .note-summary {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        min-height: 17px;
        color: $color-gray;
      }
    }

    .add-note {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      right: 20px;
      bottom: 20px;
      background-color: $color-tacao;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;

      .iconfont {
        font-size: 24px;
        color: white;
      }
    }
  }

  .detail {
    flex: 1;
    width: 0;

    .nocontent {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $color-bon-jour;

      .addNote {
        @include block-btn;
        width: 160px;
        height: 40px;
      }
    }
  }
}
