@import "../../../shared/utils/color";

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76px;
  background-color: $color-pearl-bush;
  position: relative;
  border-right: 1px solid $color-bon-jour;
  border-bottom-left-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 0;

  .profile {
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      border: 3px solid white;
      width: 55px;
      height: 55px;
      min-width: 55px;
      min-height: 55px;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  .menus {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      flex: 0 1 60px;
      min-width: 80%;
      cursor: pointer;
      color: #707275;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      color: gray;
      flex-direction: column;
      border-radius: 4px;

      &:hover {
        background-color: rgba(black, 0.2);

        span{
          opacity: 1;
        }
      }

      &.active {
        color: #705949;

        span{
          opacity: 1;
        }
      }

      .iconfont {
        font-size: 28px;
      }

      span {
        font-size: 12px;
        opacity: 0;
      }
    }
  }
}

.menu-panel {
  display: flex;
  flex: 1;
  background-color: #fffcfc;
  position: relative;

  > div {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}
