@font-face {
  font-family: 'iconfont';  /* project id 395009 */
  src: url('//at.alicdn.com/t/font_395009_4zc81oqx3hctmx6r.eot');
  src: url('//at.alicdn.com/t/font_395009_4zc81oqx3hctmx6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_395009_4zc81oqx3hctmx6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_395009_4zc81oqx3hctmx6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_395009_4zc81oqx3hctmx6r.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
