@import "../../../../utils/color";
@import "../../../../utils/mixins";

.group-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-bottom: 20px;

  .group-props {
    flex: 1;

    > div {
      margin-bottom: 4px;
      display: flex;

      span{
        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          flex: 2;
          flex-wrap: wrap;
          overflow: hidden;
          word-wrap: break-word;
          max-height: 200px;
          @include auto-scroll-bar;
        }

        &.uuid {
          font-size: 12px;
          color: $color-dusty-gray;
        }

        &.desc {
          font-size: 12px;
        }
      }

      .image-viewer {
        margin: auto;

        > img {
          border-radius: 50%;
          max-height: 60px;
          max-width: 60px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .group-actions {
    // position: absolute;
    // bottom: 20px;
    // left: 20px;
    // right: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;

    button {
      @include block-btn-dangerous;
      width: 100%;
      padding: 12px;
      margin-top: 10px;
    }
  }
}
