@import "../../../../utils/color";
@import "../../../../utils/mixins";

.group-info {
  padding: 0 20px 10px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  .group-info-cells {
    border-bottom: 1px solid $color-bon-jour;
    padding: 10px 4px;

    .group-info-cell {
      display: flex;
      align-items: flex-start;
      line-height: 1.5em;
      margin-top: 6px;
      font-size: 14px;

      &:first-of-type {
        margin-top: 0;
      }

      &.group-avatar {
        align-items: center;
        font-size: 16px;

        > div {
          overflow: hidden;

          > p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .image-viewer {
          margin-right: 10px;
          overflow: initial;
          > img {
            border-radius: 50%;
            max-height: 60px;
            max-width: 60px;
          }
        }

        .group-subname {
          font-size: 12px;
          color: $color-dusty-gray;
        }
      }

      > span {
        &:nth-child(1) {
          flex: 1;
        }
        &:nth-child(2) {
          flex: 2;
          flex-wrap: wrap;
          word-wrap: break-word;
        }

        &.uuid {
          font-size: 12px;
          color: $color-dusty-gray;
        }

        &.desc {
          font-size: 12px;
        }
      }

      > button {
        width: 100%;
        background: transparent;
        border: 0;
        padding: 4px 6px;
        text-align: left;
        font-size: 16px;
        outline: 0;
        cursor: pointer;
        position: relative;
        border-radius: 3px;

        &:active {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &::after {
          content: '\e60e';
          font-family: 'iconfont';
          position: absolute;
          right: 4px;
          top: ((30 - 17) / 2) + px;
          color: $color-silver;
        }
      }
    }
  }
}
