.note {
  .list {
    user-select: none;
    width: 240px;
    background-color: #fffbf8;
    position: relative;

    .items {
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
      }
    }

    .note-item {
      cursor: pointer;
      padding: 24px 12px;
      &:hover, &.active {
        background-color: #fbf5f1;
      }

      .note-title {
        font-size: 16px;
        font-weight: 400;
        color: #4a4a4a;
        margin-bottom: 4px;
        max-height: 40px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        line-height: 20px;
        min-height: 20px;
      }

      .note-update-time {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 8px;
        color: #878787;
      }

      .note-summary {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        min-height: 17px;
        color: #878787;
      }
    }

    .add-note {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      right: 20px;
      bottom: 20px;
      background-color: #edab7c;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;

      .iconfont {
        font-size: 24px;
        color: white;
      }
    }
  }

  .detail {
    flex: 1;

    .nocontent {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #dddcdd;

      .addNote {
        width: 160px;
        height: 40px;
        border-radius: 3px;
        border: 0;
        color: white;
        outline: 0;
        background-color: #c7c7cc;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background-color: #705949;
        }
      }
    }
  }
}
