@import "../../../shared/utils/color";
@import "../../../shared/utils/mixins";

.user-settings {
  p {
    text-align: left;
  }

  .user-favorite-list {
    $height: 23px + 27px * 3;
    min-height: $height;
    max-height: $height;
    border: 1px solid $color-bon-jour;
    @include auto-scroll-bar;

    .user-favorite-item {
      text-align: left;
      padding: 2px 4px;
      input {
        outline: 0;
        border: 1px solid transparent;
        background-color: transparent;

        &:focus {
          background-color: white;
          border-color: $color-tan;
        }
      }

      button {
        width: auto;
        display: inline-block;
        border: 0;
        float: right;

        &:hover {
          background-color: transparent;
        }
      }
    }

    button {
      display: block;
      width: 100%;
      background-color: transparent;
      border: 1px solid transparent;
      color: $color-atomic-tangerine;
      outline: 0;
      cursor: pointer;

      &:hover {
        border-color: $color-tan;
        background-color: rgba($color-silver, 0.1);
      }
    }
  }
}
