.converse {
  .list {
    user-select: none;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fffbf8;
    border-right: 1px solid #dddcdd;
  }

  .detail {
    flex: 1;
    display: flex;

    .nocontent {
      display: flex;
      flex: 1;
      flex-direction: column;

      .nocontent-img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .welcome {
        text-align: center;
        padding-bottom: 60px;
      }
    }
  }
}
