.converse {
  .list {
    user-select: none;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fffbf8;
    border-right: 1px solid #dddcdd;
  }

  .detail {
    flex: 1;

    .msg-items {
      padding: 4px 16px 16px 16px;
    }
  }
}
