.menu-pannel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76px;
  background-color: #fffbf8;
  position: relative;
  border-right: 1px solid #dddcdd;
  border-bottom-left-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 0;

  a {
    flex: 0 1 60px;
    min-width: 80%;
    cursor: pointer;
    color: #707275;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    color: gray;
    flex-direction: column;
    border-radius: 4px;

    &:hover {
      background-color: rgba(black, 0.2);

      span{
        opacity: 1;
      }
    }

    &.active {
      color: #705949;

      span{
        opacity: 1;
      }
    }

    span {
      font-size: 12px;
      opacity: 0;
    }
  }
}
