@import "../../../../../shared/utils/mixins";

.group-actor-check {
  .actions {
    display: flex;
    justify-content: center;

    button {
      @include block-btn;
      margin: 0 10px;
      width: 120px;

      .iconfont {
        margin-right: 2px;
      }
    }
  }
}
