@import "../utils/color";
@import "../utils/mixins";

.change-password {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 50px;
  input {
    @include block-input;
    margin-bottom: 10px;
  }
  button {
    @include block-btn;
    margin-top: 10px;
  }
  .tip {
    color: $color-french-gray;
    text-align: left;
    font-size: 12px;
  }
}
