@import "../utils/mixins";
@import "../utils/color";

.check-box {
  > label {
    position: relative;
    display: block;
    width: 38px;
    height: 16px;
    cursor: pointer;
    background-color: #e8e8e9;
    border-radius: 8px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 1px 1px 1px;

    &:before {
      position: absolute;
      left: -2px;
      top: -2px;
      content: ' ';
      font-family: iconfont;
      font-size: 22px;
      display: block;
      width: 20px;
      height: 20px;
      background-color: $color-dusty-gray;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: left 0.2s 0s ease;
      -moz-transition: left 0.2s 0s ease;
      transition: left 0.2s 0s ease;
    }

    &.checked:before {
      background-color: $color-spicy-mix;
      left: 18px;
    }
  }
}
