@import "../utils/color";

.find-result-item {
  height: 100px;
  overflow: hidden;
  padding: 12px 0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed $color-bon-jour;

  .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .profile {
    flex: 1;
    display: flex;
    flex-direction: column;

    .username {
      margin-bottom: 6px;
      font-size: 16px;
    }

    .uuid {
      color: $color-dusty-gray;
      font-size: 12px;
    }
  }

  .action {
    width: 100px;
    button {
      padding: 6px 12px;
      background-color: transparent;
      border: 1px solid $color-spicy-mix;
      border-radius: 2px;
      cursor: pointer;
      color: $color-mine-shaft;

      &:hover {
        background-color: $color-spicy-mix;
        color: white;
      }

      &:disabled {
        border-color: $color-dusty-gray;
        background-color: $color-silver;
        color: white;
        cursor: not-allowed;
      }

      .iconfont {
        vertical-align: middle;
        margin-right: 2px;
      }
    }
  }
}
