@import "../utils/mixins";

.list-select {
  .list-select-cell {
    margin-bottom: 6px;
    padding: 6px;
    padding-left: 20px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    @include one-line;
    max-width: 375px - 12px * 2;

    &:hover {
      background-color: rgba(black, 0.2);
    }

    &.active {
      &:before {
        content: '\e620';
        font-family: iconfont;
        position: absolute;
        left: 2px;
      }
    }
  }
}
