@import "../utils/color";
@import "../utils/mixins";

.modal-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > .head {
    height: 50px;
    line-height: 52px;
    text-align: center;
    background-color: #fff;
    padding: 0 30px;
    position: relative;
    border-bottom: 1px solid $color-bon-jour;
    border-radius: 3px;
  }

  > .body {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    background-color: $color-whisper;
  }

  > .foot {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    
    button {
      @include block-btn;
    }
  }
}
