// name from http://chir.ag/projects/name-that-color/

$color-seashell-peach: #FFF4EB;
$color-soapstone: #FFFBF8;
$color-white-linen: #FBF5F1;
$color-pearl-bush: #F1EBE6;
$color-saltpan: #F9FCFA;
$color-bon-jour: #DDDCDD;
$color-silver: #CCCCCC;
$color-french-gray: #C7C7CC;
$color-silver-sand: #BDBEBF;
$color-dusty-gray: #999999;
$color-gray: #878787;
$color-dove-gray: #666666;
$color-tundora: #4a4a4a;
$color-mine-shaft: #333333;
$color-cod-gray: #222222;
$color-jungle-mist: #BACED9;
$color-tobacco-brown: #705949;
$color-copper-canyon: #7E3F12;
$color-spicy-mix: #8C6244;
$color-atomic-tangerine: #FFA160;
$color-tacao: #EDAB7C;
$color-pine-cone: #726155;
$color-tan: #D0A282;
