@mixin one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin auto-scroll-bar {
  overflow: hidden;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

@mixin block-btn {
  font-size: 16px;
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  background-color: #999;
  padding: 6px 12px;
  outline: 0;

  &:hover, &:active, &.active {
    background-color: #705949;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #999999;
  }
}

@mixin block-btn-dangerous {
  @include block-btn;
  &:hover, &:active, &.active {
    background-color: #e74c3c;
  }
}

@mixin border-btn {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #8C6244;
  border-radius: 2px;
  cursor: pointer;
  color: #333333;
  outline: 0;

  &:hover {
    background-color: #8C6244;
    color: white;
  }

  &:disabled {
    border-color: #999999;
    background-color: #CCCCCC;
    color: white;
    cursor: not-allowed;
  }

  .iconfont {
    vertical-align: middle;
    margin-right: 2px;
  }
}

@mixin link-btn {
  font-size: 14px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: #705949;
  padding: 0 2px;
  margin: 4px 6px;
  outline: 0;
  position: relative;

  &:disabled {
    cursor: not-allowed;
    color: #999999;
  }

  &:enabled {
    &:after {
      content: ' ';
      position: absolute;
      border-top: 1px solid #705949;
      bottom: 0;
      transition: all 0.2s ease-in-out;

      left: 0;
      width: 0;
      // left: 50%;
      // right: 50%;
    }

    &:hover, &:active, &.active {
      &:after {
        border-top: 1px solid #705949;

        width: 100%;
        // left: 0;
        // right: 0;
      }
    }
  }
}

@mixin icon-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #9ea1a2;

  &:not(:disabled) {
    &:hover, &:active, &.active {
      color: #7e3f12;

      .iconfont {
        color: #7e3f12;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  .iconfont {
    color: #9ea1a2;
    line-height: 18px;
    height: 18px;
    font-size: 18px;
  }
}

@mixin bottom-line-input {
  height: 44px;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #DDDCDD;
  background-color: transparent;
  font-size: 16px;
  position: relative;

  &:focus {
    border-bottom-color: #705949;
  }

  &:disabled {
    cursor: not-allowed;
    color: #999999;
  }
}

@mixin block-input {
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #DDDCDD;
  outline: 0;
  padding: 4px 6px;
  border-radius: 3px;
  resize: none;

  &:focus {
    border-color: #705949;
  }

  &:disabled {
    cursor: not-allowed;
    color: #999999;
  }
}
