@import "../../../../shared/utils/mixins";
@import "../../../../shared/utils/color";

.converse {
  .list {
    @include auto-scroll-bar;
    user-select: none;
    width: 240px;
    background-color: $color-soapstone;
    border-right: 1px solid $color-bon-jour;

    .converses-list .converses-tip {
      margin-top: 40px;
      font-size: 14px;
      color: $color-dusty-gray;
      text-align: center;
    }
  }

  .detail {
    flex: 1;
    display: flex;

    .nocontent {
      display: flex;
      flex: 1;
      flex-direction: column;

      .nocontent-img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 380px;
          max-height: 380px;
          opacity: 0.6;
        }
      }

      .welcome {
        text-align: center;
        padding-bottom: 60px;
      }
    }
  }
}
