@import "../../../shared/utils/color";
@import "../../../shared/utils/mixins";

.change-password {
  display: flex;
  flex-direction: column;
  padding: 20px;
  input {
    @include block-input;
    margin-bottom: 10px;
  }
  .tip {
    color: $color-french-gray;
    text-align: left;
    font-size: 12px;
  }
  .error-msg {
    text-align: left;
    margin: 0;
    color: $color-alizarin-crimson;
    font-size: 14px;
  }
}
